.container {
    display: flex;
}
.top-right{
     position: absolute;
    top: 300px;
     right: 150px;
}
.btn-primary{
    padding: 18px 25px;
}
.second-container{
    display: flex;
    gap: 250px;
}
.second-container-images{
    position: relative;
}
.second-container-parag{
    margin-top: 300px;
}

/* icon section */

.icon-header{
    text-align: center;
}
.icon-section{
    display: flex;
    gap: 150px;
margin: 100px;
  margin-right: 400px;
}

/* forth section */
.container2{
    display: flex;
}
.bottom-left{
     
    position: absolute;
  bottom: 8px;
  left: 16px;
}