.container {
    display: flex;
}
.top-right{
     position: absolute;
     top: 300px;
     right: 150px;
}
.btn-primary{
    padding: 18px 25px;
}
.second-container{
    display: flex;
    gap: 250px;
}
.second-container-images{
    position: relative;
}
.second-container-parag{
    margin-top: 300px;
}
