.container {
    display: flex;
}
.top-right{
     position: absolute;
    top: 300px;
     right: 150px;
}
.btn-primary{
    padding: 18px 25px;
}
.second-container{
    display: flex;
    gap: 250px;
}
.second-container-images{
    position: relative;
}
.second-container-parag{
    margin-top: 300px;
}

/* icon section */

.icon-header{
    text-align: center;
    margin-top:900 px;
    
}
.icon-section{
    display: flex;
    gap: 150px;
 padding: 200px;
}

/* forth section */
.container2{
    display: flex;
}

/* be right */

.bottom-left{
    position: absolute;
     top: 2350px;
    right: 1200px;
   
}
#grad{
    /* background-image: url(images/gradient1.png); */
      /* background-image:linear-gradient(to right, red , yellow); */
       background-image:  linear-gradient(red, yellow);
        width:60%;
        
        background-size: cover;
        color:  white;
        padding: 20px;
    }  


.you-tube{
    display: flex;
}
.last-mission{
    display: flex;
    gap: 400px;
    background-color: black;
    color: white;
    padding: 200px;
    margin-top: 5px;
}
.btn-primaryd{
    color: blue;
     margin-top:20px;
     padding: 18px 25px;
     background-color: white;
}